@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;   
  background: transparent;   
}
::-webkit-scrollbar-thumb {
  background: #FF0000;
}
/* 
.CPIntro{
  background-image: url('/src/assets/foreground-underground-continuation.png');
  height: 200px;
  max-width: 100vw;
  background-position: center; 
  background-repeat: no-repeat;  
  background-size: cover; 
} */

/* .undergroundBG{
  background-image: url('/src/assets/foreground-underground-continuation.png');
  height: 2px;
  max-width: 100vw;
  background-position: center; 
  background-repeat: no-repeat;  
  background-size: cover;   
} */